#standard-basic{
    font-size: 14px !important;
    color:  rgb(116, 111, 111) !important;
    
}
#standard-basicTwo{
    font-size: 14px !important;
    color:  rgb(116, 111, 111) !important;
}
#standard-basicThree{
    font-size: 14px !important;
    color:  rgb(116, 111, 111) !important;
}
#standard-adornment-password{
    font-size: 14px !important;
    color:  rgb(116, 111, 111) !important;
}
#standard-adornment-passwordTwo{
    font-size: 14px !important;
    color:  rgb(116, 111, 111) !important;
}